	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
				<a href="#">Proffessional</a>
				<ul class="dl-submenu">
					<li>
						<img src="{{ site.url }}/{{ site.logo_pro }}" alt="{{ site.title_pro }} photo" class="author-photo">
						<h4>{{ site.title_pro }}</h4>
						<p>{{ site.description_pro }}</p>
					</li>
					<li><a href="{{ site.resume }}" target="_blank"><span class="btn btn-inverse">Résumé</span></a></li>
					{% if site.linkedin %}<li>
							<a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>
					</li>{% endif %}
					{% if site.github-url %}<li>
							<a href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i> Github</a>
					</li>{% endif %}
					{% if site.stackoverflow %}<li>
							<a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-stack-overflow"></i> StackOverflow</a>
					</li>{% endif %}
					{% if site.duolingo %}<li>
							<a href="http://www.duolingo.com/profile/{{ site.duolingo }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-language"></i> Duolingo</a>
					</li>{% endif %}
					{% if site.email %}<li>
							<a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i> Email</a>
					</li>{% endif %}
				</ul><!-- /.dl-submenu -->
			</li>
			<li>
				<a href="#">Athleticism</a>
				<ul class="dl-submenu">
					<li>
						<img src="{{ site.url }}/{{ site.logo_ath}}" alt="{{ site.title_ath }} photo" class="author-photo">
						<h4>{{ site.title_ath }}</h4>
						<p>{{ site.description_ath }}</p>
					</li>
						{% if site.usta %}<a href="{{ site.usta }}" target="_blank" rel="noopener noreferrer">NTRP</a>{% endif %}
						{% if site.myutr %}<a href="http://app.myutr.com/profiles/{{ site.myutr }}" target="_blank" rel="noopener noreferrer">UTR</a>{% endif %}
						{% if site.strava %}<a href="http://www.strava.com/athletes/{{ site.strava }}" target="_blank" rel="noopener noreferrer">Strava</a>{% endif %}
						{% if site.zwift %}<a href="http://www.zwift.com/athlete/{{ site.zwift }}" target="_blank" rel="noopener noreferrer">Zwift</a>{% endif %}
						{% if site.fitbit %}<a href="http://www.fitbit.com/user/{{ site.fitbit }}" target="_blank" rel="noopener noreferrer">Fitbit</a>{% endif %}
				</ul><!-- /.dl-submenu -->
			</li>
			<li>
				<a href="#">Personal</a>
				<ul class="dl-submenu">
					<li>
						<img src="{{ site.url }}/{{ site.logo_per}}" alt="{{ site.title_per }} photo" class="author-photo">
						<h4>{{ site.title_per }}</h4>
						<p>{{ site.description }}</p>
					</li>
					<li><a href="{{ site.url }}/about/"><span class="btn btn-inverse">Learn More</span></a></li>
          {% if site.facebook %}<li>
              <a href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-facebook-square"></i> Facebook</a>
          </li>{% endif %}
					{% if site.instagram %}<li>
							<a href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i> Instagram</a>
					</li>{% endif %}
					{% if site.youtube %}<li>
							<a href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube-square"></i> Youtube</a>
					</li>{% endif %}
					{% if site.steam %}<li>
							<a href="http://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-steam-square"></i> Steam</a>
					</li>{% endif %}
					{% if site.spotify %}<li>
							<a href="http://open.spotify.com/user/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-spotify"></i> Spotify</a>
					</li>{% endif %}
					{% if site.twitter %}<li>
							<a href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>
					</li>{% endif %}
				</ul><!-- /.dl-submenu -->
			</li>
			<!--<li>
				<a href="#">Posts</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/posts/">All Posts</a></li>
					<li><a href="{{ site.url }}/tags/">All Tags</a></li>
				</ul>
			</li>-->
			{% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
			<li><a href="{{ site.url }}/about/"><i class="fa fa-fw fa-user"></i> About</a></li>
			{% if site.resume %}<li><a href="{{ site.resume }}" target="_blank"><i class="fa fa-fw fa-file"></i> Résumé</a></li>{% endif %}
			{% if site.email %}<li><a href="mailto:{{ site.email }}"target="_blank"><i class="fa fa-fw fa-envelope-square"></i> Contact</a></li>{% endif %}
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
