<h3 class="title" style="font-size:30px;">
    {% if site.linkedin %}<a class="social-btn" href="//linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin-square"></i></a>{% endif %}
    {% if site.instagram %}<a class="social-btn" href="//instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
    <!--{% if site.myutr %}<a class="social-btn" href="//app.myutr.com/profiles/{{ site.myutr }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-trophy"></i></a>{% endif %}-->
    <!--{% if site.strava %}<a class="social-btn" href="//www.strava.com/athletes/{{ site.strava }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-bicycle"></i></a>{% endif %}-->
    {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
</h3>
