<h3 class="title" style="font-size:30px;">
    {% if site.github-url %}<a class="social-btn" href="//github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github-square"></i></a>{% endif %}
    {% if site.linkedin %}<a class="social-btn" href="//linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin-square"></i></a>{% endif %}
    {% if site.instagram %}<a class="social-btn" href="//instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
    <!--{% if site.myutr %}<a class="social-btn" href="//app.myutr.com/profiles/{{ site.myutr }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-trophy"></i></a>{% endif %}-->
    {% if site.strava %}<a class="social-btn" href="//www.strava.com/athletes/{{ site.strava }}" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><path d="M158.4 0L7 292h89.2l62.2-116.1L220.1 292h88.5zm150.2 292l-43.9 88.2-44.6-88.2h-67.6l112.2 220 111.5-220z"/></svg></a>{% endif %}
    {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
</h3>
